infrastructure/n8n/workflows/handbook-agent-chat.json
{
  "name": "Handbook Agent — Chat",
  "nodes": [
    {
      "parameters": {
        "public": false,
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "webhookId": "a1b2c3d4-0001-4000-8000-0000000000aa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/agent/ask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($json.chatInput) }}\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Handbook Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-0003-4000-8000-0000000000bb",
              "name": "output",
              "value": "={{ $json.answer }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Format reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 0]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Handbook Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handbook Agent": {
      "main": [
        [
          {
            "node": "Format reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {}
}
